@page
@model AzureExamples.IndexModel
@{

    <a asp-page="/Data">Data</a>
    <hr/>
    <p>app setting:</p>
    <p>Simple Setting: @Model.SimpleSetting</p>
    <p>Nested Setting: @Model.NestedSetting</p>
}
